############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin/

############################
# Java
############################
*.class
*.jar
*.war
*.ear

############################
# Build tools
############################
# Gradle
.gradle/
build/

# Maven
target/

############################
# Eclipse (just in case)
############################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

############################
# NetBeans (just in case)
############################
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

############################
# VS Code (just in case)
############################
.vscode/

############################
# OS
############################
.DS_Store
Thumbs.db
